<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a ui-sref="home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
</nav>

<h3>Please select a category</h3>

<div class="container-fluid">
    <ul class="list-group row">
        <li class="list-group-item list-group-item-action" ng-repeat="category in categoriesList.categories"
            ui-sref="items({categoryId: category.short_name})">
            {{ category.name }}
        </li>
    </ul>
</div>